@page "/"
@rendermode InteractiveServer

<PageTitle>Pokemon</PageTitle>

<div class="d-flex justify-content-between">
    <div>
        <h3>Pokemon</h3>
    </div>
    <div>
        <a @onclick="ShowAddPokemon" class="btn btn-primary">Add Pokemon</a>
    </div>
</div>

@if (showForm)
{
    <PokemonForm OnSaved="PokemonSaved" Model="pokemon" />
}

<PokemonList OnEditClicked="ShowEditPokemon" OnDeleteClicked="CloseForm" @ref="pokemonList"/>

@code{
    private PokemonList pokemonList;
    private Pokemon pokemon = new Pokemon();

    private bool showForm;

    private async Task PokemonSaved()
    {
        showForm = false;
        await pokemonList.Refresh();
    }

    private async void ShowAddPokemon()
    {
        pokemon = new Pokemon();
        await ShowForm();
    }

    private async Task ShowEditPokemon(Pokemon editPokemon)
    {
        pokemon = editPokemon;
        await ShowForm();
    }

    private async Task CloseForm()
    {
        showForm = false;
        await Task.Yield();
    }

    private async Task ShowForm()
    {
        showForm = true;
        await Task.Yield();
    }
}