@page "/trainers"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div class="d-flex justify-content-between">
    <div>
        <h3>Pokemon</h3>
    </div>
    <div>
        <a @onclick="ShowAdd" class="btn btn-primary">Add Trainer</a>
    </div>
</div>

@if (showForm)
{
    <TrainersForm OnSaved="PokemonSaved" Model="trainer" />
}

<TrainersList OnEditClicked="ShowEdit" OnDeleteClicked="CloseForm" @ref="trainersList" />

@code {
    private TrainersList trainersList;
    private Trainer trainer;
    private bool showForm;

    private async Task PokemonSaved()
    {
        showForm = false;
        await trainersList.Refresh();
    }

    private async void ShowAdd()
    {
        trainer = new Trainer();
        await ShowForm();
    }

    private async Task ShowEdit(Trainer editTrainer)
    {
        trainer = editTrainer;
        await ShowForm();
    }

    private async Task CloseForm()
    {
        showForm = false;
        await Task.Yield();
    }

    private async Task ShowForm()
    {
        showForm = true;
        await Task.Yield();
    }
}